*.rar
*.zip
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.uvgui
*.dbg*
*.uvguix.*
*.uvgui.*
RTE/
build/
.vscode/
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex
!.vscode/settings.json
